/* license_info */
.license_info h3{width: 260px}
/* tab_license */
.tab_license{height: 900px}

/* license_test */
.license_test button{width: 250px;height: 50px;margin-top: 10px;border: 1px solid #78afde;background: #bce1ff;text-align: center;line-height: 47px}

/* license_area */
.license_area p{margin-top: 10px}