/* success_review */
.success_review{z-index: 1;padding-top: 70px}
.success_review h3{text-align: center;font-size: 26px}

/* review_search_wrap */
.review_search_wrap{width: 357px;margin: auto}
#search_val{width: 70px;height: 30px;margin-right: 10px;border: 1px solid #bce1ff;border-radius: 20px}
#hidden+label{position: absolute;top: -9999px;left: -9999px}
#search_word{width: 200px;height: 30px;margin-right: 10px;border-bottom: 2px solid #bce1ff}
.search_review_btn{display: inline-block;width: 60px;height: 30px;background: #bce1ff;border-radius: 20px}
/* success_review_wrap */
.success_review_wrap{width: 960px;margin-top: 30px}
.review_write{display: block;position: absolute;;right: 0;width: 80px;height: 30px;margin-top: 10px;border: 1px solid #bce1ff;text-align: center;line-height: 27px;box-sizing: border-box}
.review_write:hover{color: #222;text-decoration: none}
.success_review_wrap table{width: 960px;margin-top: 20px}

/* review_pager */
.review_pager{width: 193px;overflow: hidden;margin: 30px auto 0}
.review_pager li, .review_pager ul{float: left;margin: 0 5px}
.review_pager > ul > li{float: left}
.review_pager > ul > li a{display: block;width: 25px;height: 23px}
.pager_no{width: 25px;height: 23px;border: 1px solid #55616e;text-align: center;line-height: 23px;font-size: 14px}
.pager_prev{display: block;width: 25px;height: 25px;background: url(../img/pager/pager_prev.png) no-repeat;text-indent: -9999px}
.pager_next{display: block;width: 25px;height: 25px;background: url(../img/pager/pager_next.png) no-repeat;text-indent: -9999px}
/*.pager_no1{background: url(../img/pager/pager_no1.png) no-repeat}
.pager_no2{background: url(../img/pager/pager_no2.png) no-repeat}
.pager_no3{background: url(../img/pager/pager_no3.png) no-repeat}
.pager_no4{background: url(../img/pager/pager_no4.png) no-repeat}
.pager_no5{background: url(../img/pager/pager_no5.png) no-repeat}*/