/* success_dissent */
.success_dissent{z-index: 1;padding-top: 70px}
.success_dissent h3{text-align: center;font-size: 26px}

/* test_table_check_wrap */
.success_dissent_wrap{width: 960px;margin-top: 30px}
table{width: 960px}